
<?xml version="1.0" encoding="UTF-8"?>
<recorder name="Регистратор 0" version="0.0" station_name="П/с Долгоозерная" type="ПАРМА РП4.08" id="0">
    <ADCs>
    <ADC name="TT-70" unit="A" coef2="10.02"/>
    <ADC name="HVmA-20/28" unit="A" coef2="0.004"/>
    <ADC name="TT-8" unit="A" coef2="1.255"/>
    <ADC name="MV-100" unit="V" coef2="20.46"/>
    <ADC name="HV-7/10" unit="V" coef2="1.02"/>
    <ADC name="MV-5" unit="V" coef2="1.06"/>
    <ADC name="MA-4/6" unit="A" coef2="1.25"/>
    <ADC name="MT-50" unit="A" coef2="10.0"/>
    <ADC name="TT-4" unit="A" coef2="0.628"/>
    <ADC name="MV-2.5" unit="V" coef2="0.475"/>
    <ADC name="MT-33" unit="A" coef2="6.667"/>
    <ADC name="TT-35" unit="A" coef2="5.01"/>
    <ADC name="TT-16" unit="A" coef2="2.51"/>
    <ADC name="MV-45" unit="V" coef2="9.06"/>
    <ADC name="MV-470" unit="V" coef2="94.46"/>
    <ADC name="MT-120" unit="A" coef2="20.0"/>
    <ADC name="HV-14/20" unit="V" coef2="2.04"/>
    <ADC name="MT-20/25" unit="A" coef2="3.333"/>
    <ADC name="MA-5M" unit="A" coef2="0.001"/>
    <ADC name="OV-0.2" unit="V" coef2="0.0196"/>
    <ADC name="MA-15" unit="A" coef2="2.994"/>
    <ADC name="MA-35" unit="A" coef2="6.993"/>
    <ADC name="HVmA-10/14" unit="A" coef2="0.002"/>
    <ADC name="MA-30" unit="A" coef2="5.998"/>
    <ADC name="HV-0.14/0.20" unit="V" coef2="0.0204"/>
    <ADC name="HV-60/90" unit="V" coef2="9.18"/>
    <ADC name="HVmA-5/7" unit="A" coef2="0.001"/>
    <ADC name="MV-150" unit="V" coef2="30.46"/>
    <ADC name="MT-60" unit="A" coef2="10.0"/>
    <ADC name="MT-40" unit="A" coef2="6.667"/>
    <ADC name="MV-200" unit="V" coef2="40.46"/>
    <ADC name="OV-650" unit="V" coef2="76.0"/>
    <ADC name="HV-380/540" unit="V" coef2="55.1"/>
    <ADC name="HV-460/650" unit="V" coef2="110.2"/>
    <ADC name="MA-10M" unit="A" coef2="0.002"/>
    <ADC name="MT-25" unit="A" coef2="5.0"/>
    <ADC name="OV-200/300" unit="V" coef2="35.26"/>
    <ADC name="MA-5/8" unit="A" coef2="1.667"/>
    <ADC name="MA-8/12" unit="A" coef2="2.5"/>
    <ADC name="TT-140" unit="A" coef2="20.04"/>
    <ADC name="HV-280/400" unit="V" coef2="40.82"/>
    <ADC name="MT-75" unit="A" coef2="15.15"/>
    <ADC name="MV-370" unit="V" coef2="74.46"/>
    <ADC name="MT-100" unit="A" coef2="20.0"/>
    <ADC name="MT-16" unit="A" coef2="3.333"/>
    <ADC name="HV-140/200" unit="V" coef2="20.41"/>
    <ADC name="MT-30" unit="A" coef2="5.0"/>
    <ADC name="MV-270" unit="V" coef2="54.46"/>
    <ADC name="MV-540" unit="V" coef2="108.46"/>
    </ADCs>
    <devices>
    <device id="0" in_use="yes" skew="yes" discretes="32" frequency="50" sample_rate="1800" analogs="16">
        <analogs>
            <analog in_use="yes" sinusoid="yes" id="11" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="10" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="13" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="12" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="15" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="14" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="1" circuit_component="" alias="" ADC="MV-200" phase="B" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="0" circuit_component="" alias="Ua" ADC="MV-200" phase="A" dc_component="0" coef1="10.0">
                <rms integration_interval_ms="20">
                    <analog_self-recorder analog_delta_percent="3"/>
                </rms>
                <positive_phase_sequence id_b="1" id_c="2" integration_interval_ms="20">
                    <analog_opc />
                </positive_phase_sequence>
                <active_power integration_interval_ms="20" id_current="4">
                </active_power>
                <reactive_power integration_interval_ms="20" id_current="4">
                </reactive_power>
            </analog>
            <analog in_use="yes" sinusoid="yes" id="3" circuit_component="" alias="" ADC="MV-200" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="2" circuit_component="" alias="" ADC="MV-200" phase="C" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="5" circuit_component="" alias="" ADC="MV-200" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="4" circuit_component="" alias="" ADC="MA-5/8" phase="A" dc_component="0" coef1="1.0">
                <rms integration_interval_ms="20">
                </rms>
            </analog>
            <analog in_use="yes" sinusoid="yes" id="7" circuit_component="" alias="" ADC="MV-200" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="6" circuit_component="" alias="" ADC="MV-200" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="9" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
            <analog in_use="yes" sinusoid="yes" id="8" circuit_component="" alias="" ADC="MT-100" phase="A" dc_component="0" coef1="1.0">
            </analog>
        </analogs>
        <discretes>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="24">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="25">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="26">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="27">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="20">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="21">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="22">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="23">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="28">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="29">
            </discrete>
            <discrete in_use="yes" inverted="yes" circuit_component="" alias="" phase="" id="1">
                <trigger pulse_duration_ms="0" chatter_suspend_threshold="0" chatter_period_ms="0" chatter_resume_threshold="0">
                    <discrete_emergency />
                    <discrete_self-recorder />
                    <discrete_opc />
                </trigger>
            </discrete>
            <discrete in_use="yes" inverted="yes" circuit_component="" alias="Вкл." phase="" id="0">
                <trigger pulse_duration_ms="0" chatter_suspend_threshold="0" chatter_period_ms="0" chatter_resume_threshold="0">
                    <discrete_emergency />
                    <discrete_self-recorder />
                    <discrete_opc />
                </trigger>
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="3">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="2">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="5">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="4">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="7">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="6">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="9">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="8">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="11">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="10">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="13">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="12">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="15">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="14">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="17">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="16">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="19">
            </discrete>
            <discrete in_use="no" inverted="no" circuit_component="" alias="" phase="" id="18">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="31">
            </discrete>
            <discrete in_use="no" inverted="yes" circuit_component="" alias="" phase="" id="30">
            </discrete>
        </discretes>
    </device>
    </devices>
    <opc scan_rate_ms="100"/>
    <emergency max_storage_time_day="0" prehistory_ms="100" after_history_ms="100" max_file_length_ms="150"/>
    <self-recorder max_file_length_hour="1" analog_delta_percent="5" max_storage_time_day="0" live_update_ms="10"/>
    <data_formats choice="comtrade">
        <comtrade data_file="ASCII" codeset="CP1251"/>
    </data_formats>
</recorder>
