$def with(xml)
<?xml version="1.0" encoding="UTF-8"?>
<recorder $:attrs(xml)>
    <ADCs>
    $for k, v in xml['ADCs'].iteritems():
        <ADC name="$k" $:attrs(v)/>
    </ADCs>
    <devices>
    $for k, v in xml['device'].iteritems():
        <device id="$k" $:attrs(v)>
            <analogs>
                $for a in v['analog'].itervalues():
                    <analog $:attrs(a)>
                        $for fn in ('rms', 'zero_phase_sequence', 'positive_phase_sequence', 'negative_phase_sequence', 'harmonic', 'active_power', 'reactive_power'):
                            $if fn in a.keys():
                                <$fn $:attrs(a[fn])>
                                    $for hn in ('analog_emergency', 'analog_self-recorder', 'analog_opc'):
                                        $if hn in a[fn].keys():
                                            <$hn $:attrs(a[fn][hn])/>
                                </$fn>
                    </analog>
            </analogs>
            <discretes>
                $for d in v['discrete'].itervalues():
                    <discrete $:attrs(d)>
                        $for fn in ('trigger',):
                            $if fn in d.keys():
                                <$fn $:attrs(d[fn])>
                                    $for hn in ('discrete_emergency', 'discrete_self-recorder', 'discrete_opc'):
                                        $if hn in d[fn].keys():
                                            <$hn $:attrs(d[fn][hn])/>
                                </$fn>
                    </discrete>
            </discretes>
        </device>
    </devices>
    <opc $:attrs(xml['opc'])/>
    <emergency $:attrs(xml['emergency'])/>
    <self-recorder $:attrs(xml['self-recorder'])/>
    <data_formats $:attrs(xml['data_formats'])>
        <comtrade $:attrs(xml['data_formats']['comtrade'])/>
    </data_formats>
</recorder>
