$def with (df, title=None)
$var title: $title

$def showTableHeader():
    $#FIXME выделить заголовки цветом, 
    $#например сделать попеременно двухцветными 
    <tr>
    <th class="checkbox"></th>
	$for orderName, orderBy in [('№', 'id'), ('Имя', 'alias'), ('Фаза', 'phase'), ('Компонент', 'circuit_component'), ('Инвертирован', 'inverted'), ('Пуск', 'emergency'), ('Самописец', 'self-recorder'), ('OPC', 'opc')]:
        <th id="$orderBy">$orderName</th>
    </tr>

$def keyExist(key, dic):
    $if key in dic.keys():
        <a><img src="/static/tick.png"/></a>

<form action="/config/discretes/$df.dev" method=POST>
    <p>Канал
    $for ci in xrange(df.devs):
            $if ci == int(df.dev):
                <a> [$ci]</a>
            $else:
                <a href="/config/discretes/$ci"> $ci</a>
    </p>
    <table>
        $:showTableHeader()
        $for cb in df.inputs:
            $ d = cb.data
            <tr>
            <td>$:cb.render()</td>
            <td><a href="/config/discrete/$df.dev/$d['id']">$d['id']</a></td>
            <td>$d['alias']</td>
            <td>$d['phase']</td>
            <td>$d['circuit_component']</td>
            <td>
                $if d['inverted'] == 'yes':
                    <a><img src="/static/tick.png"/></a>
            </td>
            $if 'trigger' in d.keys():
                <td>
                    $:keyExist('discrete_emergency', d['trigger'])
                </td>
                <td>
                    $:keyExist('discrete_self-recorder', d['trigger'])
                </td>
                <td>
                    $:keyExist('discrete_opc', d['trigger'])
                </td>
            $else:
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>

    <p><button type="submit" id="Записать" name="Записать">Применить</button></p>
</form>
