$def with (df, title=None)
$var title: $title

$def showTableHeader():
    $#FIXME выделить заголовки цветом, 
    $#например сделать попеременно двухцветными 
    <tr>
    <th rowspan="2" class="checkbox"></th>
	$for orderName, orderBy in [('№', 'id'), ('Имя', 'alias'), ('Инвертирован', 'inverted'), ('Фаза', 'phase'), ('Компонент эл.сети', 'circuit_component')]:
        <th rowspan="2" id="$orderBy">$orderName</th>
    <th colspan="3" align="center">Запись в</th>
    <th rowspan="2" class="button"></th>
    </tr>
    <tr>
        <th>файл аварии</th>
        <th>самописец</th> 
        <th>OPC</th> 
    </tr>

$def keyExist(key, dic):
    $if key in dic.keys():
        Да
    $else:
        Нет

<form action="/config/discretes/$df.channel" method=POST>
    <p>Канал
    $for ci in xrange(df.channels):
            $if ci == int(df.channel):
                <a> [$ci]</a>
            $else:
                <a href="/config/discretes/$ci"> $ci</a>
    </p>
    <table>
        $:showTableHeader()
        $for cb in df.inputs:
            $ d = cb.value
            <tr>
            <td>$:cb.render()</td>
            <td><a href="/config/discrete/$df.channel/$d['id']">$d['id']</a></td>
            <td>$d['alias']</td>
            <td>
                $ c = ('Да', 'Нет')[('yes', 'no').index(d['inverted'])]
                $c
            </td>
            <td>$d['phase']</td>
            <td>$d['circuit_component']</td>
            $if 'trigger' in d.keys():
                <td>
                    $:keyExist('discrete_emergency', d['trigger'])
                </td>
                <td>
                    $:keyExist('discrete_self-recorder', d['trigger'])
                </td>
                <td>
                    $:keyExist('discrete_emergency', d['trigger'])
                </td>
            $else:
                <td>Нет</td>
                <td>Нет</td>
                <td>Нет</td>
                <td>
                    $#<!--input button>Редактировать<-->
                </td>
            </tr>
    </table>

    <p><button type="submit" id="Записать" name="Записать">Записать</button></p>
</form>
